[submodule "packages/nostr-git-core"]
	path = packages/nostr-git-core
	url = https://github.com/Pleb5/nostr-git-fork.git
	branch = master
[submodule "packages/nostr-git-ui"]
	path = packages/nostr-git-ui
	url = https://github.com/Pleb5/nostr-git-ui.git
	branch = master
[submodule "packages/budabit-kanban-extension"]
	path = packages/budabit-kanban-extension
	url = https://github.com/chebizarro/budabit-kanban-extension.git
[submodule "packages/budabit-pipelines-extension"]
	path = packages/budabit-pipelines-extension
	url = https://github.com/chebizarro/budabit-pipelines-extension.git
